@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Noto Sans", "Noto Sans KR", serif;
}
:root {
  --main: #45474f;
}
/* ----------header start---------- */
header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 2px solid #000;
  background: #fff;
  position: fixed;
  width: 100%;
}
header nav .depth1 {
  display: flex;
  position: relative;
}

header nav .depth1 li a {
  display: block;
  padding: 20px 20px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
header nav .depth1 li a:hover {
  color: var(--main);
}
header nav .depth1 li .depth2 {
  position: absolute;
  border: 2px solid #000;
  top: 57px;
  border-top: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
header nav .depth1 li:nth-child(2) .depth2 {
  left: -150px;
}
header nav .depth1 li:hover .depth2 {
  height: 230px;
  opacity: 1;
}

header nav .depth1 li:last-child:hover .depth2 {
  height: 170px;
}
header nav .depth1 li .depth2 li {
  display: flex;
}
header nav .depth1 li .depth2 > li > a {
  width: 125px;
}
header nav .depth1 li .depth2 li .depth3 {
  display: flex;
  align-items: center;
}
header nav .depth1 li .depth2 li .depth3 li a {
  word-break: keep-all;
  padding: 10px;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}
header .header-icon {
  display: flex;
  align-items: center;
}
header .header-icon span {
  margin-right: 20px;
}
header .header-icon span:last-child {
  margin-right: 0;
}
header .header-icon span a {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
header .header-icon span a:hover {
  color: var(--main);
}
header .header-icon span a i {
  font-size: 24px;
}
.mobile-menu-btn {
  display: none;
}
.mobile-menu-btn button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
.mobile-menu-btn button:hover {
  color: var(--main);
}
/* header media start */
@media (max-width: 1024px) {
  nav {
    display: none;
  }
  .header-icon span:first-child,
  .header-icon span:nth-child(2),
  .header-icon span:nth-child(3) {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
}
/* header media end */
/* ----------header end---------- */
